<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyb.shopping.dao.ArticleDao">

	<select id="searchArticleByLeafMenuId" resultType="java.util.Map">
	
		select 
			*
		from
			yyb_article_t t 
		where 
			t.leaf_menu_id = #{leaf_menu_id} and status = 1 
		order by 
			article_index
	
	</select>
	
	<insert id="insertArticle">
		insert into yyb_article_t
			 (
			 leaf_menu_id,
			 title,
			 article_index,
			 article_content,
			 status,
			 create_by,
			 create_date,
			 last_update_by,
			 last_update_date)
		values(
			 #{leafMenuId},
			 #{title},
			 #{index},
			 #{content},
			 1,
			 'yuyubing',
			 now(),
			 'yuyubing',
			 now()
		)
	</insert>
	
	<select id="searchContentByArticleId" resultType="java.util.Map">
		select 
			article_content,
			line
		from 
			yyb_article_content_t 
		where 
			article_id = #{article_id} and status = 1 
		ORDER BY line 
	</select>
	
</mapper>